<component name="ArtifactManager">
  <artifact type="war" name="springcloud-consumer:war">
    <output-path>$PROJECT_DIR$/springcloud-consumer/target</output-path>
    <root id="archive" name="springcloud-consumer-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springcloud-consumer:war exploded" />
    </root>
  </artifact>
</component>