<component name="ArtifactManager">
  <artifact type="war" name="springcloud-provider-1003:war">
    <output-path>$PROJECT_DIR$/springcloud-provider-1003/target</output-path>
    <root id="archive" name="microservice.war">
      <element id="artifact" artifact-name="springcloud-provider-1003:war exploded" />
    </root>
  </artifact>
</component>