<component name="ArtifactManager">
  <artifact type="war" name="springcloud-consumer-hystrix-dashboard:war">
    <output-path>$PROJECT_DIR$/springcloud-consumer-hystrix-dashboard/target</output-path>
    <root id="archive" name="microservice.war">
      <element id="artifact" artifact-name="springcloud-consumer-hystrix-dashboard:war exploded" />
    </root>
  </artifact>
</component>